* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*elementi comuni*/
main {
    margin: 20px;
    padding-top: 70px;
}
header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: orange;
}
.col.left a, .col.right {
    width: 20%;
    line-height: 50px;
    color: white;
}
.col.medium {
    width: 60%;
    align-self: center;
}
.col.left, .col.right, .col.medium {
    display: flex;
    justify-content: center;
}
li {
    list-style: none;
    display: inline-block;
    flex-direction: row;
    text-align: left;
}
a {
    text-decoration: none;
}
.content.medium img {
    width: 150px;
}
/*classi di layout*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col-33 {
    width: calc(100% / 3);
}
/*stili della pagina*/
.content-main {
    margin: 10px;
    position: relative;
}
.images img {
    width: 100%;
}
.label {
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 80px;
}
.bg-green {
    background-color: green;
    left: 70px;
}
.bg-red {
    background-color: red;
    left: 0px;
}
.bg-green, .bg-red {
    margin-right: 10px;
}
.heart {
    position: absolute;
    top: 10px;
    right: 0px;
    cursor: pointer;
    background-color: white;
    padding: 5px 10px;
}
.heart:hover {
    color: red;
}
.new.price {
    color: red;
}
.images:hover .visible-image {
    display: none;
}
.images:hover .hidden-image {
    display: block;
}
.visible-image {
    display: block;
}
.hidden-image {
    display: none;
}
/*footer*/
.container.footer {
    background-color: black;
}
.col-left, .col-medium, .col-right {
    display: flex;
    align-items: center;
    height: 70px;
}
.col-medium {
    width: 50%;
}
.cont-left, .cont-medium, .cont-right {
    color: white;
}
.elenco li {
    font-size: 10px;
}
footer li, i, h4, h6 {
    padding: 5px 10px;
}