* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*elementi comuni*/
main {
    margin: 20px;
    padding-top: 70px;
}
header {
    position: fixed;
    z-index: 1;
    width: 100%;
}
/*classi di layout*/
.content-header {
    margin: 10px;
    height: 50px;
    background-color: red;
    border: 1px solid black;
}
.container {
    max-width: 1200px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-33 {
    width: calc(100% / 3);
}
/*stili della pagina*/
.content {
    margin: 10px;
    position: relative;
}
.images img {
    width: 100%;
}
.label {
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 80px;
}
.bg-green {
    background-color: green;
    left: 70px;
}
.bg-red {
    background-color: red;
    left: 0px;
}
.bg-green, .bg-red {
    margin-right: 10px;
}
.heart {
    position: absolute;
    top: 10px;
    right: 0px;
    cursor: pointer;
    background-color: white;
    padding: 5px 10px;
}
.heart:hover {
    color: red;
}
.new.price {
    color: red;
}
.images:hover .visible-image {
    display: none;
}
.images:hover .hidden-image {
    display: block;
}
.visible-image {
    display: block;
}
.hidden-image {
    display: none;
}